footer{
    width: 100%;
    height: auto;
        background-color: #4f4f8e;
}
footer .row{
    width: 80%;
}
footer .row .h5{
    font-weight: 900;
    color: #a3acf0;
}
footer .row a{
    color: white;
    text-decoration: none;
}

footer .row a:hover{
    text-decoration: underline;
}

footer .row .para{
    color: white;
}
footer .row img{
    width: 60%;
}
footer .row svg{
    transition: 1s ease;
}
footer .row svg:hover{
    color: orangered;
    transform: scale(1.1);
}